
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8">
      <%= movie(movie_id: 'JZrzIdROfb4') %>
    </div>
    <div class="col-md-4">
      <p>#amazon<p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>Favorite! #☆ (#0)</p>
    </div>

    <div class="col-md-3">
      <p>Share <i class="fa fa-share" aria-hidden="true"></i> <i class="fa fa-twitter-square" aria-hidden="true"></i> <i class="fa fa-facebook-square" aria-hidden="true"></i></p>
    </div>

    <div class="col-md-3">
      <p>More song of #thisArtist.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> #next</p>
    </div>

    <div class="col-md-4">
      <p>#song / #artist</p>
    </div>

    <div class="col-md-2">
      <p>#☆</p>
    </div>

    <div class="col-md-2">
      <p><i class="fa fa-angle-double-up" aria-hidden="true"></i> #skip</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p><i class="fa fa-angle-double-left" aria-hidden="true"></i> #prev</p>
    </div>

    <div class="col-md-4">
      <p>#song / #artist</p>
    </div>

    <div class="col-md-2">
      <p>#☆</p>
    </div>

  </div>
</div>
