<header class="">
  <div class="container">
    <%= link_to "Recotte", root_path, id: "logo" %>
    <nav>
      <ul class="">
      <p style="padding-top: 12px; color: #99CCFF;">
        <%= "Do you like  #{@main1.song}  of  #{@main1.artist}  ?" %>
      </p>
      </ul>
    </nav>
  </div>
</header>
